.idea/
*.iml
*/cmake-build-debug
*/node_modules
*/tmp

bin/
exe/
out/
temp/
units/


# Temporarily
/MovingService/
/SpeechRecognitionService/src/models/ru/
/SpeechRecognitionService/src/models/sphinx.config.xml